# Application Configuration
SECRET_KEY=your_secret_key_here
DATABASE_URI=sqlite:///database.db

# Mail Server Configuration (For potential matches matching notifications)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@kpriet.ac.in
MAIL_PASSWORD=your_app_password_here
MAIL_DEFAULT_SENDER=lostandfound@kpriet.ac.in

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_DISCOVERY_URL=https://accounts.google.com/.well-known/openid-configuration

